body, html{
    height:100%;
    margin:0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 1.8em;
    color:#666;
}

.image1 {
    background-image: url(porschelogo.jpg);
    min-height: 100%;
    position: relative;
opacity: 0.70;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.image2 {
    background-image: url(.rain.jpg);
    min-height: 400px;
    position: relative;
opacity: 0.70;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.image3 {
background-image: url(driving.jpg);
min-height: 400px;
position: relative;
opacity: 0.70;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.section {
    text-align: center;
    padding: 50px 80px; 
}

.section-dark {
    background-color: #282e34;
    color:#ddd;
}


.text{
    position: absolute;
    top:50%;
    width:100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.border{
    background-color: #1111;
    color: white;
    padding: 20px;
}